* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #22222227;
    --dark: rgb(33, 37, 41);
    --black: #343a40;
    --black1: rgba(3, 30, 35, 0.331);
    --primary: #007bff;
    --hover: rgb(164, 222, 2);
    --hover1: #72bf44;
    --background: #f2f2f2;
}

ul,
li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 0px !important;
}

.background {
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: unset !important;
    margin-bottom: unset !important;
}


/* header start */
.navigation_contact a {
    color: var(--white) !important;
}

.navigation_contact a:hover {
    color: var(--hover) !important;
}

.header_logo a {
    color: var(--hover) !important;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

body {
    line-height: unset !important;
}

.search ul {
    background-color: #343a40 !important;
}

.search ul li:hover {
    background-color: #4098ef !important;
}

.search ul li a {
    color: #fff !important;
}

.search ul li {
    border-bottom: 1px dashed #ffffff67;
}

.search_btn {
    background-color: var(--hover) !important;
}

.search_btn a i {
    color: #fff !important;
}

/* Package scrollbar start*/
.custom-scrollbar {
    height: 60vh;
    overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*scrollbar site icone*/
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.header_bar a i {
    color: var(--white) !important;
}

.header_bar a i:hover {
    color: var(--hover) !important;
}

.navbar a {
    color: #000 !important;
}

.navbar {
    --bs-navbar-padding-y: 5px !important;
}

.navbar li:hover {
    background-color: var(--hover);
    border-radius: 5px;
}

.navbar li a {
    font-size: 14px;
    font-weight: bold;
}

/* header end */


/* footer start */

.bdr {
    border-left: 1px solid white;
}

.card_img img {
    width: 300px;
}

.mobile_img {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;

}

.mobile_img img {
    width: 280px;
    border-radius: 5px;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;

}

.footer li {
    padding: 3px 0px !important;
}

.footer a {
    color: var(--white) !important;
}

.footer_navigation {
    margin-bottom: 20px !important;
}

.footer_navigation a {
    border-bottom: 1px solid #fff;
    font-family: 'Courier New', Courier, monospace;
}

/* footer end */

/* banner start */
.banner img {
    height: 80vh !important;
}

/* banner end */

.content {
    padding: 0px 40px;
}

.lavel {
    border-bottom: 3px solid #000;
}

.lavel_content span {
    background-color: #000;
    padding: 5px 40px 5px 8px;
    color: #fff;
    clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
    font-size: 20px;
    font-weight: bold;
}

.top_cat img {
    width: 60px;
}

.top_cat a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.lavel_content_sm span {
    background-color: #000;
    padding: 5px 40px 5px 8px;
    color: #fff;
    clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
    font-size: 15px;
    font-weight: bold;
}

.card img:hover {
    transform: scale(1.2);
    transition: calc(1s);
}

.card-body .card-title {
    font-size: 15px !important;
    font-weight: bold;
}

.card-body .des {
    font-size: 12px !important;
    padding: 5px !;
}

.card-body .price {
    font-size: 13px !important;
    font-weight: bold;
}

.card a {
    color: #000;
}

.card p {
    margin-top: 0;
    margin-bottom: 3px !important;
}

.card-body {
    padding: 2px !important;
}

.cart {
    color: var(--hover) !important;
}


.love {
    color: red !important;
}

.cart:hover {
    color: var(--primary) !important;
}

.love:hover {
    color: var(--primary) !important;
}

.view:hover {
    color: var(--primary) !important;
}

.top_brand {
    border: 1px solid #e9e9e9;
    width: 200px;
    height: auto;
}

.top_brand img {
    width: 100%;
}

/* Product brand start */
.filter {
    /* width: 200px; */
    width: 18%;
    height: 100vh;
    background-color: #fff;
}

.filter .filter_name {
    background-color: var(--hover1);
}

.filter .filter_name p {
    color: #fff;
    font-weight: bold;
}

.product {
    width: 92%;
}

.product_header {
    background-color: #fff;
}

.accordion-button {
    padding: 8px 10px !important;
    font-weight: bold;
    font-size: 13px !important;
    border-bottom: 1px dashed #000 !important;
    background-color: #8888883e !important;
}

.accordion-body {
    padding: 10px 10px !important;
}

.accordion-body li {
    padding: 5px 0px !important;
}

.accordion-body label {
    font-weight: bold;
    font-size: 13px !important;
}

.accordion-body .filter_list:hover {
    color: var(--hover1) !important;
}

.filter_qty {
    padding: 2px 8px !important;
    border: 1px solid #000 !important;
    border-radius: 5px !important;
    font-size: 12px !important;
}

.form-check-input {
    margin-top: 0px !important;
}